@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5585e5;

}

header{
    color: white;
    text-align: center;



}

section{

    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.419);

}
 div{
    padding: 10px;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;



}

