@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5585e5;

}

header{
    color: white;
    text-align: center;



}

section{

    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.419);
   
    
}

#res{
    word-wrap: break-word;
    letter-spacing:2px ;
    padding-bottom: 5px;
    text-align: justify;
}



footer{
    color: white;
    text-align: center;
    font-style: italic;



}

